.adminLayout {
  display: flex;
  min-height: 100vh;
}

.contentWrapper {
  flex: 1;
  margin-left: 260px;
  display: flex;
  flex-direction: column;
  transition: margin-left 0.3s;
}

.mainContent {
  flex: 1;
  margin-top: 60px;
  background: #f5f5f5;
  min-height: calc(100vh - 70px);
}

@media (max-width: 768px) {
  .contentWrapper {
    margin-left: 70px;
  }

  .mainContent {
    margin-top: 60px;
    min-height: calc(100vh - 60px);
  }
}
